@import "tailwindcss";

@theme {
  --color-primary: #3C6255;
  --color-secondary: #61876E;
  --color-accent: #A6BB8D;
  --color-background: #EAE7B1;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-primary);
  }
}